extends layout

block content
  div#main
    nav
      div
        a(href='/') home
    article
        h1= title
        form(action="/login", name="/login", method="post")
            div.input
                span.label user 
                input(type="text", name="username")
            div.input
                span.label password 
                input(type="password", name="password")    
            div.actions
                input(type="submit", value="login")